
{% load static %} 








<section class="ftco-section ftco-hireme img margin-top" style="background-image: url({% static '' %}images/software-development.png)"> 
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 ftco-animate text-center">
				<h2>I'm <span style="color: chartreuse;">Available</span> for freelancing</h2>
				<p>
				</p>
				
				<p class="mb-0"><a href="{{info.linkedin_link}}" class="btn btn-secondary py-3 px-5" style="font-weight: 900;">Hire me</a></p>
			</div>
		</div>
	</div>
</section>