{% extends 'base.html' %}


{% block header %} {% include 'header.html' %} {% endblock header %}
{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}
{% block about %} {% include 'about.html' %} {% endblock about %}
{% block resume %} {% include 'resume.html' %} {% endblock resume %}
{% block services %} {% include 'services.html' %} {% endblock services %}
{% block skills %} {% include 'skills.html' %} {% endblock skills %}
{% block projects %} {% include 'projects.html' %} {% endblock projects %}
{% block counter %} {% include 'counter.html' %} {% endblock counter %}
{% block hireme %} {% include 'hireme.html' %} {% endblock hireme %}
{% block contact %} {% include 'contact.html' %} {% endblock contact %}


{% block context %}
    
{% endblock context %}
    









{% block footer %} {% include 'footer.html' %} {% endblock footer %}





	  

